
			
table {
    margin: 0px auto;
    float: none;
    
}

td {
  width: 5%;
  position: relative;
  
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
 
}
.table-responsive
{
	
	width: 40%;
	 margin: 0px auto;
    float: none;
}
table, td {
				border:1px solid #453C3C;
				
				border-collapse: collapse;
				
			}


td:hover {
  outline:1px solid black;
 
}
